# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Binaries
bin/